body {
    background: #e9ecef;
}

.header {
    height: 60vh;
    min-height: 40vh;
    background-image: url('../images/bos-duin.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block-message {
    position: absolute;
    margin: 10px auto 0 auto;
    left: 5%;
    border-radius: 25px;
    width: 90%;
}