{% extends "base.html" %}
{% block title %} Jou boekingen {% endblock %}

{% block content %}
    <div class="jumbotron">

        <h1>Jou boekingen</h1>

        {% if reservation_data %}
            {% for reservation in reservation_data %}
                <div class="card">
                    <h3>{{ reservation.name }} </h3>
                    Week: {{ reservation.week }} <br>
                    Personen: {{ reservation.capacity }}
                </div>
            {% endfor %}
        {% else %}
            <h5>U heeft nog geen boekingen</h5>
        {% endif %}
    </div>
{% endblock %}