{% extends "base.html" %}
{% block title %} Bungelow {{ bungalow_data.name }} {% endblock %}

{% block content %}
    <div class="jumbotron">
        {% for image in images %}
            <img src="{{url_for('static', filename=image)}}" alt="{{image}}" class="gallery-img">
        {% endfor %}
        <div class="card">
            Bungalow: {{ bungalow_data.name }} <br>
            Size: {{ bungalow_data.capacity }} <br>
            Price: {{ bungalow_data.price }} <br>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.week_nr.label }}: {{ form.week_nr() }} <br>
                {{ form.submit() }}
            </form>
        </div>
    </div>
{% endblock %}