{% extends "base.html" %}
{% block title %} Bungelows {% endblock %}

{% block content %}
    <div class="jumbotron">

        <h1>Bungalows</h1>
        
        {% for bungalow in bungalow_data %}
        <div class="card">
            Name: {{ bungalow.name }} <br>
            Size: {{ bungalow.capacity }} <br>
            Price: {{ bungalow.price }} <br>
            <a href="{{url_for('bungalows.reserve', bungalow_id=bungalow.id)}}" class="btn btn-primary">Make reservation now!</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}